@font-face {
    font-family: 'AllAges';
    src: url('../../public/fonts/AllAges2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
    font-display: swap;
  }

  @font-face {
    font-family: 'CheapPotatoes';
    src: url('../../public/fonts/CheapPotatoesBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'BMKkubulim';
  src: url('../../public/fonts/BMKkubulim.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}