.scrollContainer {
  height: 400vh;
  position: relative;
  z-index: 1;
}

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: calc(var(--vh, 1vh) * 100); fallback */
  height: 100dvh; /* modern */
  overflow: visible;
  z-index: 1;
}

/* .roadContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 100%;
} */


.bg {
  position: absolute;
  width: 100vw;
  height: 100lvh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.bgFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 500;
  opacity: 0.7;
}

.road {
  position: absolute;
  width: 100vw;
  height: 100lvh;
  top: -4lvh;
  z-index: 10;
}

.car {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 100;
}

.img1 { position: absolute; width: 100vw; z-index: 2; top: 7dvh; }
.img2 { position: absolute; width: 100vw; top: 12lvh; }
.img3 { position: absolute; width: 100vw; top: 10lvh; }
.img4 { position: absolute; width: 100vw; top: 10lvh; }
.img5 { position: absolute; width: 100vw; top: 16lvh; }
.img6 { position: absolute; width: 100vw; top: 10lvh; }
.img7 { position: absolute; width: 100vw; top: 14lvh; }
.img8 { position: absolute; width: 100vw; top: 12lvh; }
.img9 { position: absolute; width: 100vw; top: 13lvh; }
.img10 { position: absolute; width: 100vw; top: 16lvh; }
.img11 { position: absolute; width: 100vw; top: 15lvh; }
.img12 { position: absolute; width: 100vw; top: 16lvh; }
.img13 { position: absolute; width: 100vw; top: 16lvh; }
.img14 { position: absolute; width: 100vw; top: 16lvh; }
.img15 { position: absolute; width: 100vw; top: 16lvh; }
.img16 { position: absolute; width: 100vw; top: 16lvh; }
/* .img17 { position: absolute; width: 100vw; height: 100lvh; top: -4lvh; }
.img18 { position: absolute; width: 100vw; height: 100lvh; top: -4lvh; }
.img19 { position: absolute; width: 100vw; bottom: 0; } */
.img20 { position: absolute; width: 100vw; bottom: 0; }
.img21 { position: absolute; width: 100vw; bottom: 0; }
.img22 { position: absolute; width: 100vw; top: 10lvh; }
.img23 { position: absolute; width: 100vw; top: 10lvh; }
.img24 { position: absolute; width: 100vw; top: 10lvh; }
.img25 { position: absolute; width: 100vw; z-index: 100; bottom: 0; }
.img26 { position: absolute; width: 100vw; z-index: 100; bottom: 18lvh; }

.sign {
  position: absolute;
  top: 40lvh;
  left: 50%;
  transition: all 0.1s ease-out;
  z-index: 1;
}

.signBoard {
  width: 70%;
  height: auto;
  transform: translateX(-50%);
  /* position: relative; */
  /* z-index: 1; */
}

.setlist {
  position: absolute;
    width: 60%;
    z-index: 150;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20dvh;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0px);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

