.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 40px 20px;
  box-sizing: border-box;
}

.popup-image-container {
  display: flex;
  flex-direction: row; /* 또는 row */
}

.popup-image-container img:nth-child(1) { order: 1; }
.popup-image-container img:nth-child(2) { order: 2; }
.popup-image-container img:nth-child(3) { order: 3; }
/* ... */

.backButton {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 25%;
  height: auto;
  cursor: pointer;
  z-index: 10000;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
}

.bgFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 0;
}


.content {
  margin: 0 auto;
  text-align: center;
}


.title {
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: BMKkubulim;
  font-size: 3rem;
  z-index: 10;

}

.section {
  margin-bottom: 80px;
}

.partTitle {
  font-size: 2rem;
  color: #000;
  display: inline-block;
  font-family: BMKkubulim;
  z-index: 10;

}

.team {
  /* background-color: rgba(255, 255, 255, 0.08); */
  padding: 20px;
  border-radius: 12px;
  z-index: 10;
}


.members { 
  font-size: 0.95rem;
  color: #000;
  margin-bottom: 10px;
  font-family: BMKkubulim;
  z-index: 10;

}

.songList {
  list-style: none;
  padding: 0;
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
  font-family: BMKkubulim;
  z-index: 10;
}
