.container {
    position: relative;
    padding: 5vh 10vw;
    text-align: center;
    color: white;
    min-height: 100vh;
    background-image: url(../../public/images/bg.webp);
  }
  
  .main3{
    position: relative;
    width: 70%;
    top: -5vh;
  }
  
  .songList {
    position: relative;
    list-style: none;
    font-family: 'Paperlogy-8ExtraBold', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.8rem;
    top: -12vh;
    color: #323232;
  }
  